<div [classList]="(allDailysCompleted ? 'all-challenges-completed' : '') + ' challenge-title-container accordion noselect active'" #accordion>
    <span class="challenge-title">DAILY CHALLENGES</span>
    <br />
    <span class="reset">{{dailyExpiryMsg}}</span>
</div>
<div class="panel">
    <div class="challenge noselect" *ngFor="let challenge of dailyChallenges" [ngClass]="{'completed': challenge.completed == true}" onclick="clickChallenge(this)" (click)="toggleChallengeCompletion(challenge)">
        {{ challenge.description }}
    </div>
    <div class="refreshTimestamp">{{ dailyLastUpdatedMessage }}</div>
</div>
<hr />
<div [classList]="(allWeeklysCompleted ? 'all-challenges-completed' : '') + ' challenge-title-container accordion noselect active'" #accordion>
    <span class="challenge-title">WEEKLY CHALLENGES</span>
    <br />
    <span class="reset">{{weeklyExpiryMsg}}</span>
</div>
<div class="panel">
    <div class="challenge noselect" *ngFor="let challenge of weeklyChallenges" [ngClass]="{'completed': challenge.completed == true}" onclick="clickChallenge(this)" (click)="toggleChallengeCompletion(challenge)">
        {{ challenge.description }}
    </div>
    <div class="refreshTimestamp">{{ weeklyLastUpdatedMessage }}</div>
</div>
<hr />
<div [classList]="(allSeasonalsCompleted ? 'all-challenges-completed' : '') + ' challenge-title-container accordion noselect active'" #accordion>
    <span class="challenge-title">SEASON CHALLENGES</span>
    <br />
    <span class="reset">{{seasonalExpiryMsg}}</span>
</div>
<div class="panel">
    <div class="challenge noselect" *ngFor="let challenge of seasonalChallenges" [ngClass]="{'completed': challenge.completed == true}" onclick="clickChallenge(this)" (click)="toggleChallengeCompletion(challenge)">
        {{ challenge.description }}
    </div>
    <div class="refreshTimestamp">{{ seasonalLastUpdatedMessage }}</div>
</div>

<!-- <div *ngFor="let stageNumber of seasonalStages.keys()">
    <div class="accordion noselect active" #accordion>
        <div class="challenge-title">
            SEASON CHALLENGES<br/>
            <span class="stage">STAGE {{stageNumber}}</span>
        </div>
        <br />
        <span class="reset">{{seasonalExpiryMsg}}</span>
    </div>
    <div class="panel">
        <div class="challenge noselect" *ngFor="let challenge of seasonalStages.get(stageNumber)" [ngClass]="{'completed': challenge.completed == true}" onclick="clickChallenge(this)" (click)="toggleChallengeCompletion(challenge)">
            {{ challenge.description }}
        </div>
        <div class="refreshTimestamp">{{ seasonalRefreshMessage }}</div>
    </div>
</div> -->







