h2 {
    margin-bottom: 5px;
}
.challenge {
    border: 2px solid black;
    text-align: center;
    
    padding: 10px;
    font-size: large;
    margin-bottom: 5px;
    background-color: #eaf5ff;
}

.challenge:hover {
    cursor: pointer;
}

.completed {
    background-color: gold;
}

p {
    color: gold;
    font-family: Verdana;
    margin: 2px 0;
    font-size: smaller;
}