<h2>Daily Challenges</h2>
<div class="challenge noselect" *ngFor="let challenge of dailyChallenges" onclick="clickChallenge(this)">
    {{ challenge.description }}
</div>

<h2>Weekly Challenges</h2>
<div class="challenge noselect" *ngFor="let challenge of weeklyChallenges" onclick="clickChallenge(this)">
    {{ challenge.description }}
</div>

<h2>Season Challenges</h2>
<div class="challenge noselect" *ngFor="let challenge of seasonChallenges" onclick="clickChallenge(this)">
    {{ challenge.description }}
</div>