/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

@import './vars.scss';

@font-face {
    font-family: RevolutionGothicBold;
    src: url(assets/fonts/RevolutionGothic_Bold.otf) format("opentype");
  }

h1 {
    color: #369;
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #EEE;
    //font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 0;
    background-image: url("assets/img/s.png");
    background-attachment: fixed;
    background-repeat: repeat;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  
  /* everywhere else */
  * {
    font-family: 'RevolutionGothicBold', Arial, Helvetica, sans-serif;
  }

.challengesContainer {
    max-width: 20em;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.8);
    //border: 1px solid red;
}

@media (max-width: $breakpoint-mobile) {
  .challengesContainer {
    margin: auto;
  }
}